<div class="about-section paddingTB60 gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6">
				<div class="about-title clearfix">
					<h1>About
						<span>Servicely</span>
					</h1>
					<h3>Consider it done!</h3>
					<p class="about-paddingB">We are a portable commercial center for neighborhood administrations. We assist clients with employing confided in experts
						for all their personal needs. We are set up with youthful, energetic individuals working eagerly to have any kind of
						effect in the lives of individuals by taking into account their administration needs at their doorsteps.</p>
					<p>We provide housekeeping administrations which comprise of Plumbers, Electricians, Carpenters, Cleaning and Pest Control.
						We additionally give individual administrations like magnificence, spa, portable and other apparatus fixes and so on.
						Be it completing a pipes work, improving your wellness through yoga, figuring out how to play the guitar, enhancing
						your home or getting sincere photographs of your wedding clicked, we are a certain shot goal for your administration
						needs.</p>

				</div>
			</div>
			<div class="col-md-5 col-sm-6">
				<img src="assets/images/logo.png" alt="Servicely">
			</div>
		</div>
	</div>
</div>