<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <h5>SERVICELY</h5>
            <small class="d-block mb-3 text-muted">© 2020-2021</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/soon">Cool Feature</a></li>
              <li><a class="text-muted" href="/soon">Random Feature</a></li>
              <li><a class="text-muted" href="/soon">Awesome Feature</a></li>
              <li><a class="text-muted" href="/soon">Best Feature</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/soon">Resource</a></li>
              <li><a class="text-muted" href="/soon">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/soon">Team</a></li>
              <li><a class="text-muted" href="/soon">Locations</a></li>
              <li><a class="text-muted" href="/soon">Privacy</a></li>
              <li><a class="text-muted" href="/soon">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>