.footerLayout{
    background-color: rgb(8, 122, 122);
    font-size: 1em;
    color: rgb(219, 132, 19);
    text-align: center;
    margin: 0 0 0 0;
}
.footerText{
    font-size: 21px;
    color: rgb(224, 133, 13);
    text-align: center;
    margin: 0 0 0 0;
}