<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g-12">
                <p-dialog header="Information" [(visible)]="isRecordNotSelected">
                    Please select a record to Proceed.
                </p-dialog>
                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                <p-table #dt2 [columns]="cols" [value]="requests" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]" dataKey="id"
                    [resizableColumns]="true" [reorderableColumns]="true" selectionMode="multiple" [(selection)]="selectedRequests">
                    <ng-template pTemplate="caption" let-rowData>
                        <div style="text-align:left">
                            <button class="addButtonLayout" type="button" pButton icon="pi pi-plus" (click)="showAddDialog()" label="Add"></button>
                            <button class="editButtonLayout" type="button" pButton icon="pi pi-pencil" (click)="edit()" label="Edit"></button>
                            <button class="deleteButtonLayout" type="button" pButton icon="pi pi-trash" (click)="confirmDelete()" label="Delete"></button>
                            <button class="csvButtonLayout float-right" type="button" pButton icon="pi pi-file-o" iconPos="left" label="Export" (click)="dt2.exportCSV()"
                                style="margin-right: 0.5em;"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 3em">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                        <tr>
                            <th style="width: 3em">
                            </th>
                            <th *ngFor="let col of columns" [ngSwitch]="col.field" class="ui-fluid">
                                <input pInputText type="text" (input)="dt2.filter($event.target.value, col.field, col.filterMatchMode)" [value]="dt2.filters[col.field]?.value">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                <p-tableCheckbox [pSelectableRow]="rowData" [value]="rowData"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-dialog header="Request Details" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade"
                    [modal]="true" [style]="{width: '450px', height:'350px'}">
                    <div class="ui-g ui-fluid" *ngIf="request">
                        <div class="ui-g-12">
                            <div class="ui-g-3">
                                <label>Id</label>
                            </div>
                            <div class="ui-g-9">
                                <label>{{request.id}}</label>
                            </div>
                        </div>
                        <div class="ui-g-12" style="height:230px">
                            <div class="ui-g-3">
                                <label for="status">Status</label>
                            </div>
                            <div class="ui-g-9">
                                <p-dropdown [options]="statuses" [(ngModel)]="request.status"></p-dropdown>
                            </div>
                        </div>

                    </div>
                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button class="editButtonLayout" type="button" pButton icon="pi pi-save" (click)="save()" label="Save"></button>
                        </div>
                    </p-footer>
                </p-dialog>
                <p-dialog header="Request Details" [(visible)]="displayAddDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade"
                    [modal]="true" [style]="{width: '600px', height:'350px'}">
                    <form [formGroup]="requestform" (ngSubmit)="onSubmit(requestform.value)">
                        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    First Name *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input pInputText type="text" width="100%" formControlName="firstName" placeholder="Required" />
                                </div>
                                <div class="ui-grid-col-3">
                                    <p-message severity="error" text="Required" *ngIf="!requestform.controls['firstName'].valid&&requestform.controls['firstName'].dirty"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    Last Name *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input pInputText type="text" formControlName="lastName" placeholder="Required" />
                                </div>
                                <div class="ui-grid-col-3">
                                    <p-message severity="error" text="Required" *ngIf="!requestform.controls['lastName'].valid&&requestform.controls['lastName'].dirty"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    Phone Number *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <input pInputText type="text" formControlName="phoneNumber" placeholder="Required" />
                                </div>
                                <div class="ui-grid-col-3">
                                    <p-message severity="error" text="Required" *ngIf="!requestform.controls['phoneNumber'].valid&&requestform.controls['phoneNumber'].dirty"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    Type *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <p-dropdown [options]="types" formControlName="type"></p-dropdown>
                                </div>
                                <div class="ui-grid-col-3">
                                    <p-message severity="error" text="Required" *ngIf="!requestform.controls['type'].valid&&requestform.controls['type'].dirty"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    Description:
                                </div>
                                <div class="ui-grid-col-6">
                                    <textarea pInputTextarea type="text" formControlName="description"></textarea>
                                </div>
                                <div class="ui-grid-col-3"></div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3">
                                    City *:
                                </div>
                                <div class="ui-grid-col-6">
                                    <p-dropdown [options]="cities" formControlName="city"></p-dropdown>
                                </div>
                                <div class="ui-grid-col-3">
                                    <p-message severity="error" text="Required" *ngIf="!requestform.controls['city'].valid&&requestform.controls['city'].dirty"></p-message>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-3"></div>
                                <div class="ui-grid-col-6">
                                    <button pButton type="submit" label="Submit" [disabled]="!requestform.valid"></button>
                                </div>
                                <div class="ui-grid-col-3"></div>
                            </div>
                            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                                Form Submitted
                                <br> {{diagnostic}}
                            </div>
                        </div>
                    </form>
                </p-dialog>


            </div>
        </div>
    </div>
</div>