.addButtonLayout{
    width: 9%;
    margin-right: 1px;
    background-color: rgb(70, 6, 78);
}
.csvButtonLayout{
    width: 9%;
    margin-right: 1px;
    background-color: rgb(77, 7, 18);
}
.deleteButtonLayout{
    width: 9%;
    margin-right: 1px;
    background-color: rgb(3, 43, 29);
}
.editButtonLayout{
    width: 9%;
    margin-right: 1px;
    background-color: rgb(35, 63, 3);
}
.exportButtonLayout{
    width: 9%;
    margin-right: 1px;
}
.pdfButtonLayout{
    width: 9%;
    margin-right: 1px;
}
.csvSelectOnlyButtonLayout{
    width: 9%;
    margin-right: 1px;
}       
.ui-g label {
  font-weight: bold;
  margin-top: .25em;
  display: block;
}
